body {
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
  background: #0f0f0f;
  color: #ffffff;
}

header {
  text-align: center;
  padding: 32px 16px;
}

header h1 {
  color: #ffd60a;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 8px;
}

header p {
  color: #cfcfcf;
  font-size: 1rem;
}

.upload-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  padding: 20px;
}

.upload-box input {
  background: #181818;
  color: white;
  border: 2px solid #ffd60a;
  border-radius: 12px;
  padding: 14px;
  font-size: 16px;
  width: 260px;
}

.upload-box input:focus {
  outline: none;
  box-shadow: 0 0 12px rgba(255,214,10,.35);
}

button {
  background: #ffd60a;
  color: #111;
  border: none;
  padding: 14px 20px;
  border-radius: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: all .2s ease;
}

button:hover {
  background: #ffea70;
  transform: translateY(-2px);
}

#loading {
  text-align: center;
  color: #ffd60a;
  padding: 20px;
}

.photo img {
  width: 100%;
  border-radius: 16px;
  border: 1px solid rgba(255,214,10,.15);

  box-shadow:
    0 0 20px rgba(255,214,10,.15),
    0 10px 25px rgba(0,0,0,.6);

  transition: transform .25s ease;
}

.photo img:hover {
  transform: scale(1.02);
}

.photo a {
  color: #ffd60a;
  text-decoration: none;
  font-weight: 600;
}

.qr-box {
  background: #181818;
  border: 2px solid #ffd60a;
  border-radius: 16px;
  padding: 15px;

  box-shadow:
    0 0 30px rgba(255,214,10,.25);
}

#cameraSelect {
  background: #111;
  color: #ffd60a;
  border: 1px solid #ffd60a;
  border-radius: 10px;
  padding: 10px;
}

.qr-controls {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}

.qr-controls button {
  flex: 1;
}
